.App {
    text-align: center;
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #f8f8f8;
    height: 150px;
    padding: 20px;
    margin-bottom: 24px;
    color: #3d464d;
}

.App-intro {
    font-size: large;
}

code {
    color: #e73a37;
}